/* setup */
@import "./setup/vars";

/* base */
@import "./base/helpers.css";
@import "./base/layout";
@import "./base/form";
@import "./base/base";

/* pages */
@import "./pages/ToyIndex.css";
@import "./pages/ToyEdit.css";
@import "./pages/ToyDetails.css";
@import "./pages/About.css";
@import "./pages/HomePage.css";

/* cmps */
@import "./cmps/Pagination.css";
@import "./cmps/LabelsPicker.css";
@import "./cmps/AppHeader.css";
@import "./cmps/Popup.css";
@import "./cmps/Chat.css";

@import "./cmps/toy/ToyList.css";
@import "./cmps/toy/ToyFilter.css";
@import "./cmps/toy/ToyListHome.css";
@import "./cmps/toy/ToyLoader.css";
@import "./cmps/toy/ToyHomeLoader.css";