/* setup */
@import "./setup/vars";

/* base */
@import "./base/helpers.css";
@import "./base/layout";
@import "./base/form";
@import "./base/base";

/* pages */
@import "./pages/ToyIndex.css";
@import "./pages/ToyEdit.css";
@import "./pages/ToyDetails.css";
@import "./pages/About.css";
@import "./pages/HomePage.css";
@import "./pages/Dashboard.css";
@import "./pages/UserDetails.css";
@import "./pages/ReviewExplore.css";

/* cmps */
@import "./cmps/Pagination.css";
@import "./cmps/LabelsPicker.css";
@import "./cmps/AppHeader.css";
@import "./cmps/Popup.css";
@import "./cmps/Chat.css";
@import "./cmps/UserMsg.css";
@import "./cmps/GoogleMap.css";
@import "./cmps/BrandsScroller.css";
@import "./cmps/ImageLoader.css";
@import "./cmps/ImageUploader.css";

@import "./cmps/toy/ToyList.css";
@import "./cmps/toy/ToyFilter.css";
@import "./cmps/toy/ToyListHome.css";
@import "./cmps/toy/ToyLoader.css";
@import "./cmps/toy/ToyHomeLoader.css";
@import "./cmps/toy/ToyDataTable.css";
@import "./cmps/toy/ToyImagesUploader.css";
@import "./cmps/toy/ToyImagesGallery.css";

@import "./cmps/about/BranchesList.css";

@import "./cmps/user/LoginSignup.css";
@import "./cmps/user/UserMenu.css";

@import "./cmps/review/ReviewEdit.css";
@import "./cmps/review/ReviewList.css";
@import "./cmps/review/ReviewLoader.css";
@import "./cmps/review/ReviewRatingStats.css";
@import "./cmps/review/ReviewFilter.css";