.app-header {
    background: white;
    /* position: sticky;
    top: 0;
    z-index: 1000; */

    &>* {
        padding-inline: 3em;
        padding-block: 0.5em;
    }

    .header-content {
        .main-search {
            min-width: 40vw;
            outline: 2px solid var(--mainSiteClrTheme);
            border-radius: 10px;
            overflow: hidden;
            margin-inline: 1em;

            &:has(input:focus) {
                outline: 3px solid var(--mainSiteClrTheme);
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.155);
            }
        }
    }

    .header-nav {
        gap: 0.5em;
        background-color: var(--mainSiteClrTheme);
        color: white;
        padding-block: 1em;

        a {
            color: inherit;
            text-decoration: none;
            font-weight: bold;
        }
    }
}