.popup-black-wrapper {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.277);
    cursor: pointer;
    backdrop-filter: blur(0px);
    z-index: 5;

    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;

    &:has(.chat) {
        cursor: auto;
        background-color: transparent;

        .popup {
            pointer-events: none;
            transform-origin: bottom right;

            .popup-header {
                color: white;
            }
        }


        &.open {
            backdrop-filter: blur(0px);
            pointer-events: none;

            .popup {
                pointer-events: visible;
            }
        }

        .popup {
            top: auto;
            left: auto;
            translate: none;
            bottom: 1em;
            right: 1em;
            min-width: 350px;
            width: 350px;
            background-color: var(--mainSiteClrTheme);
            z-index: 6;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.379);
        }
    }

    &.open {
        opacity: 1;
        pointer-events: visible;
        backdrop-filter: blur(2px);

        .popup {
            scale: 1;
        }
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        min-width: 80vw;
        background-color: white;

        cursor: auto;
        border-radius: 0.6em;

        scale: 0.8;
        transition: 200ms ease-in-out;



        &:has(aside) {

            overflow: hidden;
            display: flex;
            flex-direction: column;

            aside {
                width: 100%;
                height: 100px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .popup-main-content {
                display: flex;
                flex-direction: column;

                .popup-main {
                    flex-grow: 1;
                    align-content: center;
                }
            }
        }

        .popup-main-content {

            padding: 0.5em;

            .popup-header {
                position: relative;
                text-align: center;

                .login-signup-logo {
                    -webkit-text-stroke-color: var(--mainSiteClrTheme);
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-fill-color: transparent;
                }

                .close-btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            &>* {
                padding: 0.5em;

            }
        }
    }
}

@media (min-width: 750px) {
    .popup-black-wrapper {
        .popup {
            min-width: 70vw;

            &:has(aside) {

                overflow: hidden;
                display: grid;
                grid-template-columns: 1fr 1fr;

                aside {
                    width: 100%;
                    height: 100%;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .popup-main-content {
                    display: flex;
                    flex-direction: column;

                    .popup-main {
                        flex-grow: 1;
                        align-content: center;
                    }
                }
            }

        }
    }
}


@media (min-width: 950px) {
    .popup-black-wrapper {
        .popup {
            min-width: 40vw;
        }
    }
}