.user-msg {
    display: flex;
    padding: .5em 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-weight: bold;
    border-radius: 10px;
    border-radius: 2px;
    z-index: 20;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.436);

    p {
        margin: 0;
    }
}

.user-msg.success {
    background-color: var(--mainSiteClrTheme);
}

.user-msg.error {
    background-color: var(--homePageBgClr);
}


.user-msg button {
    float: right;
    margin: 1em;
}