.about {
    margin-block: 1em;

    &>* {
        margin-block-end: 0.5em;
    }

    p {
        max-width: 80vw;
        font-size: 1rem;
    }

    .branches-info {
        display: grid;
        grid-template-columns: 1fr;

        h3 {
            grid-column: 1/-1;
        }

        .google-map {
            grid-row: 2;
        }

        .branches-list {
            grid-row: 3;
        }

    }
}


@media (min-width: 750px) {
    .about {
        margin-block: 1em;

        &>* {
            margin-block-end: 0.5em;
        }

        p {
            max-width: 80vw;
            font-size: 1rem;
        }

        .branches-info {
            display: grid;
            grid-template-columns: 1fr 1fr;

            h3 {
                grid-column: 1/-1;
            }

            .google-map {
                grid-row: 2;
            }

            .branches-list {
                grid-row: 2;
            }
        }
    }
}