.home-page {
    min-height: 100%;
    color: white;
    background-color: var(--homePageBgClr);

    padding-inline: 3em;
    padding-block-start: 1em;

    h2 {
        margin-block-end: 0.5em;
    }

}

@media (min-width: 750px) {
    .home-page {
        padding-inline: 8em;
    }
}