.toy-details {
    position: relative;
    margin-block-end: 1em;

    .toy-details-header {
        h2 {
            margin-block-end: 0.2em;
        }

        .toy-labels {
            flex-wrap: wrap;
            gap: 1em;

            .toy-label {
                padding-inline-start: 0.5em;
            }
        }


    }

    hr {
        display: block;
        border: 0;
        height: 4px;
        padding: 0;
        background-color: var(--mainSiteClrTheme);
    }

    .toy-details-content {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 1em;

        .toy-img {
            outline: solid 1px var(--outlineClr1);
        }

        .toy-price {
            text-align: center;
            background-color: var(--mainSiteClrTheme);
            color: white;
            font-size: 1.5em;
            padding: 1em;
            margin-block-end: 1em;

            &.out {
                background-color: var(--taBtnBgClr);
                text-decoration: line-through;
            }
        }
    }

}