.toy-details {
    position: relative;
    margin-block-start: 1em;
    margin-block-end: 2em;

    .toy-details-header {
        h2 {
            margin-block-end: 0.2em;
        }

        .toy-labels {
            flex-wrap: wrap;
            gap: 0.5em;

            .toy-label {
                padding-inline-start: 0.5em;
            }
        }
    }

    hr {
        display: block;
        border: 0;
        height: 4px;
        padding: 0;
        background-color: var(--mainSiteClrTheme);
    }

    .toy-details-content {
        border: solid 1px var(--outlineClr1);
        margin-block-end: 1em;
        padding: 0.5em;

        h3 {
            text-align: center;
            margin-block-end: 0.5em;
        }

        .toy-price {
            text-align: center;
            background-color: var(--mainSiteClrTheme);
            color: white;
            font-size: 1.5em;
            padding: 1em;
            margin-block-end: 1em;

            &.out {
                background-color: var(--taBtnBgClr);
                text-decoration: line-through;
            }
        }

    }

    .chat-btn {
        z-index: 3;
        width: 50px;
        aspect-ratio: 1/1;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .review-edit-wrapper {
        margin-block-end: 1em;

        &:has(.add-review-btn) {
            text-align: center;
        }

        .add-review-btn {
            font-size: 1.5em;
            min-width: 50vw;
        }
    }

    .no-reviews {
        text-align: center;
    }


    .toy-loader {
        .toy-item {
            min-height: 90vh;


            .img-prev {
                min-height: 100%;
                width: max-content;
            }
        }
    }

}


@media (min-width: 750px) {
    .toy-details {

        .toy-details-header {
            .toy-labels {
                gap: 1em;
            }
        }


        .toy-details-content {
            display: grid;
            grid-template-columns: minmax(200px, 40%) 1fr;
            gap: 1em;

            .review-rating-state {
                grid-column: span 2;
                grid-row: 2;
            }
        }

        .chat-btn {
            width: 70px;
            aspect-ratio: 1/1;
            opacity: 1;

            &:hover {
                filter: brightness(1.1);
            }
        }

    }
}