.toy-index {

    .toy-content-header {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 0.5em;
        margin-block: 0.5em;

        h2 {
            display: none;
        }

        .t-a {
            grid-column: 1/-1;
            grid-row: 2;
            text-align: center;
        }
    }

    .toy-index-content {
        .brand-logo {
            height: 100%;
            max-height: 100px;
            background-color: var(--mainSiteClrTheme);
            margin-block-end: 1em;
            justify-items: center;

            img {
                height: 100%;
                max-height: 100px;
                object-fit: cover;
            }

        }

        .no-toys-found-msg {
            background-color: var(--noToysMsgClr);
            padding: 1em;
            text-align: center;
        }
    }
}


@media (max-width: 750px) {
    .toy-index {

        &:has(.mobile-filter-open) {
            /* i need to imprvoe this */
            overflow-x: hidden;

            .toy-index-content {
                height: 75vh;
                overflow: hidden;
            }
        }

        .toy-filter-wrapper {
            position: fixed;
            top: 15vh;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: white;
            transform: translateX(-100%);
            transition: 200ms ease-in-out;
            overflow: scroll;

            &.mobile-filter-open {
                transform: translateX(0%);
                z-index: 4;
            }
        }
    }
}

@media (min-width: 750px) {
    .toy-index {
        display: grid;
        grid-template-columns: 20vw 1fr;

        .toy-content-header {
            grid-column: 1/-1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            margin-block: 0em;

            h2 {
                display: block;
            }

            .t-a {
                margin-inline-end: auto;
            }

            .mobile-filter-btn {
                display: none;
            }

            .MuiFormControl-root {
                min-width: 15vw;
            }
        }

        .toy-index-content {
            .brand-logo {

                margin-inline: 0.5em;

            }
        }

    }
}