    .home-toys {
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        gap: 1em;

        margin-block-end: 1em;

        .toy-item {
            display: grid;
            grid-template-rows: subgrid;
            grid-row: 2 span;
            gap: 0;

            cursor: pointer;
            outline: solid 2px var(--taBtnBgClr);
            transition: 200ms ease-in-out;

            opacity: 0;

            &.show {
                opacity: 1;
            }


            &:nth-child(1),
            &:nth-child(2) {
                grid-column: span 2;


                .toy-image-wrapper {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        min-height: 100%;
                        height: max-content;
                        scale: 1;
                        transition: 300ms ease-in-out;
                        object-fit: cover;
                    }

                }

                &:hover {
                    cursor: pointer;
                    outline: solid 2px var(--mainSiteClrTheme);


                    img {
                        scale: 1.1;
                    }
                }
            }


            .toy-image-wrapper {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    scale: 1;
                    transition: 300ms ease-in-out;
                    object-fit: cover;
                }

            }

            .toy-name {
                padding: 0.5em;
                text-align: center;
                background-color: var(--taBtnBgClr);
                transition: 200ms ease-in-out;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:hover {
                cursor: pointer;
                outline: solid 2px var(--mainSiteClrTheme);


                img {
                    scale: 1.1;
                }

                .toy-name {
                    padding: 0.5em;
                    text-align: center;
                    background-color: var(--mainSiteClrTheme);
                    text-decoration: underline;
                }
            }

        }
    }



    @media (min-width: 750px) {
        .home-toys {
            grid-template-columns: repeat(4, minmax(10px, 1fr));
            grid-template-rows: 400px;
            gap: 1.5em;
        }
    }