:root {
    /* Color */
    --mainSiteClrTheme: rgb(255, 145, 0);

    --taBtnBgClr: gray;

    --outlineClr1: #ddd;

    --appliedfilterClr: #efefef;

    --chatMsgClr1: #efefef;
    --chatMsgClr2: #c8efce;

    --noToysMsgClr: rgb(255, 255, 193);

    --homePageBgClr: #1c1c1c;

    /* gap */
    --container-gap-mobile: 1rem;
    --container-gap-tablet: 2rem;
    --container-gap-desktop: 3rem;
}