.review-loader {
    .review-item {
        outline: 2px solid var(--outlineClr1);
        min-height: 120px;

        background: linear-gradient(90deg, rgb(255, 255, 255) 25%, rgb(219, 219, 219) 50%, rgb(255, 255, 255) 75%);
        background-size: 200% 100%;
        animation: shimmer 1s infinite linear;
    }
}


@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}