.review-rating-state {

    .stars-rating {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
    }

    .revies-length {
        text-align: center;
        margin-block-end: 0.5em;
    }

    .rating-item {
        display: grid;
        grid-template-columns: 4rem 1fr 4rem;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin-block-end: 0.5em;

        .s-n {
            padding-inline-start: 1em;
            white-space: nowrap;
        }

        .p-m {
            min-width: 100px;
            height: 1em;
            outline: 2px solid var(--outlineClr1);
            border-radius: 2px;

            .p-n {
                display: inline-block;
                width: 0%;
                height: 100%;
                background-color: var(--mainSiteClrTheme);
                transition: 1s ease-in-out;


                &.animate {
                    width: var(--targetWidth);
                }
            }
        }
    }
}


@media (min-width: 750px) {
    .review-rating-state {
        place-self: center;
        min-width: 70vw;
    }
}

@media (min-width: 1050px) {
    .review-rating-state {
        place-self: center;
        min-width: 50vw;
    }
}