button,
.btn {
    cursor: pointer;

    /* toy-action */
    &.t-a {
        background-color: var(--taBtnBgClr);
        padding: 0.5em;
        outline: none;
        border: none;
        color: white;
        text-decoration: none;
        transition: 200ms;

        &:hover {
            filter: brightness(0.9);
        }
    }

    /* search-btn */
    &.s-b {
        background-color: inherit;
        border: none;

        .glass-icon {
            width: 25px;
            height: 25px;
            background-color: rgb(255, 145, 0);
            -webkit-mask: url('/public/images/glass.svg');
            -webkit-mask-size: contain;
            mask: url('/public/images/glass.svg');
            mask-size: cover;
        }

    }

    /* pagination-button */
    &.p-b {
        background-color: white;
        padding: 6px 12px;
        border: 1px solid var(--outlineClr1);
        color: var(--mainSiteClrTheme);

        &:disabled {
            cursor: auto;
            color: var(--outlineClr1);
        }

        &:hover:not(:disabled, .active) {
            filter: grayscale(1);
            background-color: var(--outlineClr1);
        }

        &.active {
            background-color: var(--mainSiteClrTheme);
            border: 1px solid var(--mainSiteClrTheme);
            color: white;

            &:hover {
                filter: grayscale(0);
            }
        }
    }


    &.chat-btn {
        position: fixed;
        right: 1em;
        bottom: 1em;
        width: 70px;
        aspect-ratio: 1/1;
        background-color: var(--mainSiteClrTheme);
        border-radius: 20px;
        padding: 0.5em;
    }

    &.close-btn {
        background-color: inherit;
        border-radius: 50%;
        min-width: 20px;
        aspect-ratio: 1/1;
        border: 1px solid var(--outlineClr1);
    }

    &.user-btn,
    &.mobile-nav-btn {
        background-color: inherit;
        outline: none;
        border: none;
    }

    &.mobile-filter-btn {
        height: 100%;
        background-color: inherit;
        border-radius: 5px;
        border: 1px solid gray;
    }
}

input,
select {
    width: 100%;
    padding: 0.5em;
}

input {

    /* main-search */
    &.m-s {
        border: none;
        outline: none;
    }
}


.mini-loader {
    width: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-self: center;
    background:
        radial-gradient(farthest-side, white 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, white);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn)
    }
}