button,
.btn {
    cursor: pointer;

    /* toy-action */
    &.t-a {
        background-color: var(--taBtnBgClr);
        padding: 0.5em;
        outline: none;
        border: none;
        color: white;
        text-decoration: none;
        transition: 200ms;

        &:hover {
            filter: brightness(0.9);
        }
    }

    /* search-btn */
    &.s-b {
        background-color: inherit;
        border: none;

        .glass-icon {
            width: 25px;
            height: 25px;
            background-color: rgb(255, 145, 0);
            -webkit-mask: url('/public/images/glass.svg');
            -webkit-mask-size: contain;
            mask: url('/public/images/glass.svg');
            mask-size: cover;
        }

    }

    /* pagination-button */
    &.p-b {
        background-color: white;
        padding: 6px 12px;
        border: 1px solid var(--outlineClr1);
        color: var(--mainSiteClrTheme);

        &:disabled {
            cursor: auto;
            color: var(--outlineClr1);
        }

        &:hover:not(:disabled, .active) {
            filter: grayscale(1);
            background-color: var(--outlineClr1);
        }

        &.active {
            background-color: var(--mainSiteClrTheme);
            border: 1px solid var(--mainSiteClrTheme);
            color: white;

            &:hover {
                filter: grayscale(0);
            }
        }
    }

}

input,
select {
    width: 100%;
    padding: 0.5em;
}

input {

    /* main-search */
    &.m-s {
        border: none;
        outline: none;
    }
}