.app-container {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: auto 1fr;

    >* {
        &:not(.full) {
            grid-column: 2;
        }

        &:has(.home-page) {
            grid-column: 1/-1;
        }

        &.full {
            grid-column: 1/-1;
        }
    }

    .app-main-content {
        min-height: 100vh;
    }

}

@media (min-width: 750px) {
    .app-container {
        display: grid;
        grid-template-columns: 3rem 1fr 3rem;
    }
}