.app-container {
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;

    >* {
        grid-column: 2;

        &:has(.home-page) {
            grid-column: 1/-1;
        }

        &.full {
            grid-column: 1/-1;
        }
    }

    .app-header {
        height: 15vh;
    }

    .app-main-content {
        min-height: calc(100vh - 15vh);
    }

}