.app-container {
    display: grid;
    grid-template-columns: var(--container-gap-mobile) 1fr var(--container-gap-mobile);
    grid-template-rows: auto 1fr;

    >* {
        &:not(.full) {
            grid-column: 2;
        }

        &:has(.home-page) {
            grid-column: 1/-1;
        }

        &.full {
            grid-column: 1/-1;
        }
    }

    .app-main-content {
        min-height: calc(100vh - 16vh);
    }

}

@media (min-width: 750px) {
    .app-container {
        display: grid;
        grid-template-columns: var(--container-gap-tablet) 1fr var(--container-gap-tablet);
    }
}


@media (min-width: 950px) {
    .app-container {
        display: grid;
        grid-template-columns: var(--container-gap-desktop) 1fr var(--container-gap-desktop);
    }
}